<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    
    <div class="main">
        <div class="read">
            <a href="/read">Read Users</a>
        </div>
        <h1>Update User</h1>
         <form action="/update/<%= user._id %>" method="post" class="form">
            <div class="input">
                <input type="text" name="name" placeholder="Enter name"  value="<%= user.name %>" >
                <input type="email" name="email" placeholder="abc@gmail.com" value="<%= user.email %>" >
                <input type="text" name="image" placeholder="image URL" value="<%= user.image %>">
                <input  type="submit" placeholder="Update User">
            </div>    
         </form>
    </div>
</body>
</html>